{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center text-uppercase">Toutes les catégories disponibles</h1>
    {% for categorie in categories %}
        <div class="d-flex justify-content-center">
            <p><a href="{{ categorie.name }}">{{ categorie.name }}</a></p>  
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}

    <a class="d-flex justify-content-center" href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}