{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Formulaire{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-4" type="submit">Ajouter</button>
    {{ form_end(form) }}
    
{% endblock %}