{% extends 'base.html.twig' %}

{% block title %}Nouvel Épisode{% endblock %}

{% block body %}
    <h1>Ajouter un épisode</h1>

    {{ include('episode/_form.html.twig') }}

    <a href="{{ path('app_episode_index') }}">Retour à la liste</a>
{% endblock %}
