{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center">
  <h1>WILD SERIES</h1>
</div>
{% endblock %}